.promo {
    width: 100%;
    background-color: #f5f5f5;
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}

.promo__title {
    max-width: 730px;
    color: black;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -2px;
    line-height: 58px;
    margin: 182px 0 145px;
    padding: 0;
    text-align: center;
}

.promo__navigation {
    padding: 5px 0 0;
    width: 100%;
}

.promo__more {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    max-width: 100%;
    padding: 0;
}

.promo__logo {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 320px;
}

.project__button {
    background-color: #E8E8E8;
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    height: 36px;
    width: 96px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    transition: .3s ease;
    cursor: pointer;
}

.promo__button {
    text-decoration: none;
    color: black;
    font-size: 13px;
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

@media screen and (max-width: 768px) {
    .promo {
        max-width: 768px;
        width: 100%;
    }

    .promo__navigation {
        margin-bottom: 30px;
        padding: 0;
    }

    .promo__more {
        gap: 10px;
    }

    .promo__title {
        max-width: 680px;
        line-height: 52px;
        letter-spacing: 1.6px;
        font-size: 40px;
        margin-top: 370px;
        margin-bottom: 314px;
    }

}


@media screen and (max-width: 320px) {
    .promo {
        padding: 0;
    }
    .promo__button {
        font-size: 10px;
    }

    .promo__title {
        max-width: 292px;
        letter-spacing: -1.16px;
        font-size: 29px;
        line-height: 37px;
        margin-top: 235px;
        margin-bottom: 212px;
    }

    .promo__navigation {
        gap: 6px;
        margin-bottom: 22px;
        padding: 0;
    }

    .project__button {
        font-size: 10px;
        height: 26px;
        width: 82px;
    }

    .promo__logo {
        width: 248px;
        height: 248px;
    }

    .promo__more {
        gap: 6px;
    }
}