.search {
    max-width: 1140px;
    margin: 0 auto;
}
.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 70px;
    max-width: 1140px;
    width: 100%;
    background: #f9f9f9;
    border-radius: 9px;
}
.search__find {
    width: 34px;
    height: 34px;
}

.search-form__input {
    color: #A0A0A0;
    background-color: #f9f9f9;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    max-width: 1060px;
    width: 83%;
    min-height: 48px;
    margin: 0;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    margin-right: 11px;
    /* margin-right: 15px; */
    cursor: pointer;
}
.search-form__button-more {
    width: 320px;
    height: 36px;
    display: flex;
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 12px;
    padding: 11px 60px 9px;
}
.search-form__button {
    background-image: url(../../../images/find-button.svg);
    padding: 0;
    max-width: 70px;
    width: 100%;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    object-fit: fill;
    border-right: 1px solid #E8E8E8;
    cursor: pointer;
}
.search-form__button:hover {
    opacity: .7;
}
.search__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2px 12px 0 19px
    /* padding: 2px 12px 0 51px; */
}
.search-form__input:focus {
    outline: none;
    background: #fff;
    border: 1px solid #2be080;
}

@media screen and (max-width: 800px) {
    .search__container {
        width: calc(100% - 60px);
        padding: 0;
    }

    .search-form__input {
        font-size: 18px;
        text-align: left;
        /* width: 73%; */
        padding-left: 7px;
    }
    .search__input {
        display: flex;
        box-sizing: border-box;
    }
    .search-form {
        max-width: 708px;
        width: 100%;
        padding-left: 0;
        margin: 80px auto 0;
    }
}

@media screen and (max-width: 760px) {
    .search-form {
        width: 100%;
        padding-left: 0;
        padding-bottom: 8px;
        margin-bottom: 43px;
        margin-top: 80px;
        margin-right: 0;
        gap: 47px;
        flex-direction: column;
        position: relative;
    }
    }

@media screen and (max-width: 400px) {
    .search__container {
        width: calc(100% - 20px);
    }
    .search-form {
        width: 100%;
        padding-left: 0;
        padding-bottom: 8px;
        margin-bottom: 38px;
        margin-top: 80px;
        margin-right: 0;
        gap: 47px;
        flex-direction: column;
        position: relative;
    }
    .search-form__button {
        border: none;
        width: 34px;
        flex-shrink: 0;
    }
    .search__find {
        display: none;
    }
    .search__input {
        align-items: center;
        padding: 0;
        padding-right: 19px;
        gap: 0;
        width: initial;
    }
    .search-form__input {
        font-size: 14px;
        padding: 25px 19px;
        min-height: initial;
    }
}