.footer {
    max-width: 1140px;
    /* margin: 0 auto; */
    flex-direction: column;
    padding: 79px 70px 20px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E8E8E8;
    margin: 0;
}

.footer__title {
    color: #A0A0A0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto 20px;
    text-align: center;
    padding-bottom: 20px;
}

.footer__year {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

.footer__links {
    display: flex;
}

.footer__link {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    transition: scale .3s ease;
    margin-top: 0;
}

.footer__link:hover {
    opacity: .7;
}

.footer__link:first-child {
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 65px 10px 0;
        margin: 0;
    }
    .footer__links {
        padding-right: 13px;
    }
    .footer__link {
        margin-top: 0;
    }
    .footer__year {
        margin: 0;
        padding-left: 28px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding: 79px 0 0;
    }
    .footer__link:first-child {
        margin-right: 0;
    }
    .footer__container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
        margin: 0;
       }

    .footer__year {
        font-size: 12px;
        line-height: 15px;
        margin: 30px 0 0;
        padding: 0;
    }

    .footer__links {
        flex-direction: column;
        margin-top: 30px;
        padding: 0;
    }

    .footer__link {
        text-align: center;
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        margin: 0;
    }

    .footer__link:last-child {
        margin-top: 12px;
    }
}