.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 78px 70px 20px;
    background: #FAFAFA;
}
.footer__title {
    color: #A0A0A0;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 20px;
    padding-top: 1px;
}

.footer__navigation {
    border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.footer__year {
    font-size: 13px;
    line-height: normal;
    font-weight: 400;
    margin: 0;
}
.footer__navigation-links {
    margin: 0;
    max-width: 182px;
    width: 100%;
}

.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: space-between;
}

.footer__link {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    transition: scale .3s ease;
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: .7;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 80px 24px 20px 30px;;
    }
    .footer__year {
        padding-left: 6px;
    }
    .footer__navigation {
        padding-top: 21px;
    }
    .footer__title {
        padding-top: 1px;
        padding-left: 3px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding: 77px 0 20px 0;
    }
    .footer__title {
        font-size: 12px;
        /* padding-top: 1px;
        padding-left: 3px; */
    }
    .footer__navigation {
        text-align: center;
        display: grid;
        grid-template-rows: 1fr 15px;
        gap: 30px;
        padding-top: 30px;
        justify-content: center;
    }

    .footer__year {
        font-size: 12px;
        grid-row: 2;
        color: #A0A0A0;
        padding-left: 0;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
    }
}