.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 89px;
}

.profile__form {
  max-width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__form-fieldset {
  padding-top: 37px;
  border: none;
  display: flex;
  flex-direction: column;
}
.profile__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.profile__item:not(:last-child) {
  border-bottom: 1px solid #e8e8e8;
}
.profile__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  padding: 0 0 16px;
  margin: 0;
}

.profile__input {
  max-width: 370px;
  text-align: right;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  padding: 0 0 16px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.profile__input:focus {
  outline: none;
  background: #fff;
  border: 1px solid #2be080;
}
.profile__button {
  color: black;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  border: none;
  background-color: transparent;
  margin-top: 186px;
  width: 410px;
  height: 16px;
  cursor: pointer;
}
.profile__button:hover {
  color: #2be080;
}
.profile__button-exit {
  color: #ff4062;
  text-decoration: none;
  border: none;
  font-size: 13px;
  font-weight: 500;
  max-width: 410px;
  margin: 0 auto;
  padding-top: 30px;
  cursor: pointer;
}
.profile__button-exit:hover {
  opacity: 0.7;
}
.profile__button-save {
  width: 410px;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #2be080;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.profile__button-save:hover {
  opacity: 0.8;
}
.profile__button-save:disabled {
  opacity: 0.3;
  cursor: default;
}
.profile__button-inactive {
  width: 410px;
  height: 45px;
  background-color: #f8f8f8;
  color: #c2c2c2;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .profile {
    padding-top: 235px;
  }

  .profile__form-fieldset {
    padding-top: 3px;
  }
  .profile__button {
    margin-top: 178px;
  }
  .profile__title {
    padding-bottom: 94px;
  }
  .profile__button-exit {
    padding-top: 32px;
  }
}
@media screen and (max-width: 400px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__label {
    font-size: 11px;
    font-weight: 500;
    padding-bottom: 0;
  }

  .profile__form-fieldset {
    margin-bottom: 172px;
  }
  .profile__form {
    max-width: 260px;
  }
  .profile__button {
    width: 260px;
    font-size: 12px;
    margin-bottom: 31px;
    margin-top: 174px;
  }
  .profile__title {
    padding-bottom: 78px;
  }
  .profile__button-exit {
    padding-top: 0px;
    font-size: 12px;
  }
}
