.login{

}
.login__container {
    max-width: 396px;
    margin: 0 auto;
    padding-top: 70px;
}
.login__title {
    max-width: 396px;
    font-size: 24px;
    font-weight: 500;
    margin: 40px auto 32px;
}
.login__form {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
}
.login__label {
    border: none;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    font-weight: 400;
    margin-top: 24px;
}
.login__input {
    background: #F3C1F8;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 5px 0 9.5px;
}
.login__button {
    margin: 80px auto 16px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    height: 44px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    transition: opacity .8s;
    cursor: pointer;
}
.login__already {
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    font-weight: 400;
}
.login__link {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 0 0 0 6px;
    cursor: pointer;
}