.main {
    max-width: 1280px;
    background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .main {
        max-width: 768px;
    }
 }

 @media screen and (max-width: 320px) {
    .main {
        max-width: 320px;
    }
 }