.movie-card {
    max-width: 364px;
    min-height: 271px;
    background-color: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    margin-right: 20px;
}
.movies-card:nth-child(3) {
    margin-right: 0;
}

.movie-card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px;
}
.movie-card__information {
    width: 280px;
}
.movie-card__title{
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    color: black;
    max-width: 280px;
    margin: 0;
    margin-bottom: 9px;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.movie-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    margin: 0;
    text-align: start;
}
.movie-card__picture {
    max-width: 364px;
    height: 203px;
    width: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
}
.movie-card__save {
    background-image: url(../../../images/save-active.svg);
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;

}
@media screen and (max-width: 800px) {
    .movie-card {
        max-width: 339px;
        margin: 0;
    }
    .movie-card__picture {
        margin-bottom: 0;
        max-width: 339px;
        height: 186px;
    }
    .movies-list__item {
        padding: 189px 0 30px;
    }
}
@media screen and (max-width:400px) {
    .movie-card {
        margin: 0 auto;
        max-width: 300px;
        min-height: 199px;
    }
    .movie-card__picture {
        max-width: 301px;
        height: 168px;
        margin-bottom: 10px;
    }
    .movie-card__title {
        font-size: 15px;
    }
    .movie-card__container {
        margin-bottom: 9px;
    }
}