.movies-list__item {
    display: grid;
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
@media screen and (max-width: 800px) {
    .movies-list__item {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 440px) {
    .movies-list__item {
        align-self: center;
        grid-template-columns: 1fr;
    }
}