.techs {
    max-width: 1140px;
    margin: 0 auto;
    padding: 103px 70px;
}

.techs__title {
    padding-bottom: 23px;
    font-size: 22px;
    margin: 0;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #000;
    padding-bottom: 23px;
    text-align: start;
}

.techs__container {
    margin-top: 90px;
    text-align: center;
}

.techs__subtitle {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0 auto;
}

.techs__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
    text-align: center;
    margin: 26px auto 0 auto;
    max-width: 460px;
}

.techs__technologies {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 90px);
    justify-content: center;
    padding: 0;
    margin: 100px 0 0 0;
}

.techs__item {
    width: 90px;
    height: 60px;
    padding-top: 21px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    list-style-type: none;
    background: #e8e8e8;
    border-radius: 6px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .techs {
        padding: 93px 50px;
    }

    .techs__container {
        margin-top: 76px;

    }

    .techs__item {
        width: 84px;
        /* height: 36px; */
        font-size: 12px;
        line-height: 15px;
        box-sizing: border-box;
    }

    .techs__title {
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 28px;
        letter-spacing: -.8px;
    }

    .techs__subtitle {
        font-size: 50px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .techs__text {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        margin: 22px auto 0 auto;
    }

    .techs__technologies {
        grid-template-columns: repeat(7, 84px);
        margin: 83px 0 0 0;
    }
}

@media screen and (max-width: 320px) {
    .techs {
        padding: 67px 18px;
    }

    .techs__title {
        font-size: 18px;
    }

    .techs__container {
        margin-top: 60px;
    }

    .techs__technologies {
        grid-template-columns: repeat(2, 84px);
        margin: 50px auto 0 auto;
        box-sizing: border-box;
    }

    .techs__subtitle {
        font-size: 30px;
    }
}