.checkbox {
    display: flex;
    margin-bottom: 118px;
    justify-content: center;
    align-items: center;
    padding: 30px 0 39px ;
}
.checkbox__description {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-left: 12px;
}
.checkbox__input {
    position: relative;
    width: 36px;
    height: 20px;
    background: black;
    border-radius: 20px;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.checkbox__input::after {
    content: '';
    position: absolute;
    right: 6px;
    top: 6px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(0);
}
.checkbox__input:checked::after {
    transform: translateX(calc(50% - 20px));
    background-color: #F3C1F8;
}
.checkbox__input:checked {
    background-color: white;
}

@media screen and (max-width: 800px) {
    .checkbox {
        margin-bottom: 132px;
    }
}
@media screen and (max-widt:400px) {
    .checkbox {
        margin-bottom: 90px;
    }
    .checkbox__input {
        height: 19px;
    }
    .checkbox__description {
        font-size: 11px;
    }
}