.header {
    margin: 0 auto;
    padding: 0 70px;
    max-width: 1280px;
    width: 100%;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    min-height: 74px;
    align-items: center;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__navigate {
    width: 100%;
    max-width: 183px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__register-button {
    width: 77px;
    height: 16px;
    background: none;
    border: none;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    padding: 0;
    cursor: pointer;
}
.nav__button {
    border: none;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.header__login-button {
    background: #2BE080;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 0;
    width: 76px;
    height: 32px;
    cursor: pointer;
    font-size: 12px;
}
.header__navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 30px;
    }
    .header__navigation {
        max-width: 70px;
        margin: 0;
    }
    .nav__button {
        border: none;
        background-color: transparent;
        display: flex;
        cursor: pointer;
    }
    .header__register-button {
        display: none;
    }
    .header__login-button {
        display: none;
    }
    .header__navigation-inactive {
        max-width: 175px;
    }
    .header__link-container {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .header__link-container-inactive {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .header {
        padding: 0 14px;
    }
    .header__container {
        max-width: 320px;
    }
    .header__login-button {
        width: 54px;
        height: 26px;
        font-size: 10px;
    }
    .header__register-button {
        width: 64px;
        font-size: 10px;
    }
    .header__navigate {
        max-width: 132px;
    }
}
