.aboutme {
    margin: 0 30px;
    padding: 0;
}

.aboutme__container {
    max-width: 1280px;
    padding: 0 70px;
    padding-bottom: 50px;
    padding-top: 110px;
    margin: 0 auto;
}

.aboutme__title {
    border-bottom: 1px solid #000;
    font-size: 22px;
    font-weight: 400px;
    letter-spacing: -0.88px;
    margin: 0;
    padding-bottom: 23px;

}
.aboutme-information {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme__profile {
    max-width: 600px;
    width: 100%;
    margin-top: 66px;
}

.aboutme__name {
    max-width: 319px;
    margin-top: 80px;
    margin-bottom: 22px;
    font-size: 40px;
    font-weight: 400px;
    line-height: 40px;
    margin: 0 0 19px;
    letter-spacing: -1.6px;
}

.aboutme__profession {
    max-width: 600px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 26px;
    padding: 0;
}

.aboutme__text {
    max-width: 600;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 0 100px;
    word-wrap: break-word;
    padding: 0;
}

.aboutme__link {
    max-width: 50px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}

.aboutme__photo {
    width: 270px;
    max-height: 327px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin-top: 66px;
    background-image: url(../../images/AboutMePhoto.jpeg);
    margin-right: 70px;
}

@media screen and (max-width: 1050px) {
    .aboutme__profile {
        max-width: 500px;
    }
}
@media screen and (max-width: 800px) {
    .aboutme__profile {
        max-width: 364px;
    }
    .section__title {
        margin-bottom: 66px;
    }
    .aboutme__name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        margin-bottom: 16px;
    }
    .aboutme__photo {
        width: 255px;
        height: 307px;
        margin-right: 50px;
    }
    .aboutme__profession {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }
    .aboutme__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }
}
@media screen and (max-width: 400px) {
    .aboutme {
        padding: 69px 14px 70px;
    }
    .aboutme-information {
        display: grid;
        grid-template-rows: 352px minmax(194px, 1fr);
        gap: 40px;
        padding-top: 0;
    }
    .aboutme__photo {
        width: 392px;
        height: 352px;
        grid-row: 1;
    }
    .aboutme__profile {
        grid-row: 2;
    }
    .aboutme__name {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
        margin-bottom: 20px;
    }
    .aboutme__profession {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }
    .aboutme__text {
        margin-bottom: 40px;
        font-size: 11px;
        line-height: 16px;
    }
}